 body {
     background-color:#Fafafa;
     /*background-color: #49E9BD;*/

     /*background-color: #D0FAEE;*/
     /*00FFCC*/
 }
 
 
.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem; 
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.navbar-light,footer { 
    /*margin-bottom: 0px;*/
   background-color: #009688;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
 }
footer {
  margin-top: 2rem;
  /*padding-top: 3rem;
  padding-bottom: 3rem;*/
}
.jumbotron {
      background: linear-gradient(rgb(0,121,107),rgb(0,150,136));
}
footer p {
  margin-bottom: .25rem;
}
ul>li {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 21px;
  list-style: none; 
}

a {
  color: #fafafa;
}

.wrapper {
  background-color: #fafafa;
}