 body {
     background-color:#35235D;
     /*background-color: #49E9BD;*/

     /*background-color: #D0FAEE;*/
     /*00FFCC*/
 }
 
 
.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem; 
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.navbar-light,footer { 
   background-color: #20BF9F;
 }
footer {
  margin-top: 2rem;
  /*padding-top: 3rem;
  padding-bottom: 3rem;*/
}

footer p {
  margin-bottom: .25rem;
}
ul>li {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 21px;
  list-style: none; 
}

a {
  color: #fafafa;
}

.wrapper {
  background-color: #fafafa;
}